<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<body>
    <div class="signup">
        <h1>Sign up</h1>
        <div class="signup-form">
            <form id="signup" name="signup" method="post" action="/signup">
                <input class="text" name="email" type="email" placeholder="Email address" required />
                <input name="name" type="text" placeholder="Name" required/>
                <input name="username" type="text" placeholder="Username" required/>
                <input name="password" type="password" placeholder="Password" required/>
                <input class="signupbtn" type="submit" value="Sign Up" />
            </form>
        </div>
    </div>
</body>

</html>