@import "compass/css3";
head {
  background: black;
}

body {
  background: transparent;
}

h1 {
  cursor: default;
  color: rgb(61, 20, 20);
  font-size: 3em;
  opacity: 1;
  font-family: 'Lily Script One', cursive;
}

.login-container {
  /* position: absolute; */
  /* width: 100%; */
  color: rgb(25, 63, 107);
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: rgba(11, 194, 21, 0.11);
  padding: 10px;
  border: 1px solid #ccc;
}

.login-form, input[type="text"], input[type="password"] {
  /* position: absolute; */
  /* width: 100%; */
  background-color: rgba(255, 255, 255, 0.11);
  color: black;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

 .login_button , .signup-button {
  /* float: left; */
  width: 50%;
  background-color: #4CAF50;
  color: white;
}

/* .signup-button {
  right: 10px;
} */


.button_panel::after {
  /* content: "";
  clear: both;
  display: table; */
}
